#header{
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}
#monster{
  font-size: 170%;
  color:red;
}
#article{
  font-size: 150%;
  font-style: italic;
}
#party{
  font-size: 160%;
  color:green;
  font-weight: bold;
}
