
.col-12{
  background-color:green;
  height: 100px;
}

.col-7{
  background-color: yellow;
  height: 100px;
}

.col-5{
  background-color: pink;
  height: 100px;
}

.col-4{
  background-color: blue;
  height:220px;
}

.white-name{
  color: white;
}
